<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper 
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.somsomy.mapper.AdminMapper">

	<select id="getNoticeList" resultType="com.somsomy.domain.NoticeBean">
		select * from notice order by num desc limit #{startRow}, #{pageSize}
	</select>
	
	<select id="getNoticeCount" resultType="java.lang.Integer">
		select count(*) from notice
	</select>
	
	<select id="getMaxNum" resultType="java.lang.Integer">
		select max(num) from notice
	</select>
	
	<insert id="writeNotice">
		insert into notice(num, name, subject, content, date, readcount)
		values(#{num}, #{name}, #{subject}, #{content}, #{date}, #{readcount})
	</insert>
	
	<select id="getNotice" resultType="com.somsomy.domain.NoticeBean">
		select * from notice where num = #{num}
	</select>
	
	<update id="updateReadcount">
		update notice set readcount = readcount + 1 where num = #{num}
	</update>
	
	
</mapper>