<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper 
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.somsomy.mapper.QnaMapper">
	<select id="getQnaCount" resultType="java.lang.Integer">
		select count(*) from qna
	</select>
	
	<select id="getQnaList" resultType="com.somsomy.domain.QnaBean">
		select * from qna order by re_ref desc, re_seq asc limit #{startRow}, #{pageSize}
	</select>
	
	<select id="getMaxNum" resultType="java.lang.Integer">
		select max(num) from qna
	</select>
	
	<insert id="qnaWrite">
		insert into qna(num,re_ref,re_lev,re_seq,state,name,subject,content,readcount,date) 
		values(#{num},#{re_ref},#{re_lev},#{re_seq},#{state},#{name},#{subject},#{content},#{readcount},#{date})
	</insert>

	<update id="updateReadcount">
		update qna set readcount=readcount+1 where num=#{num}
	</update>
	
	<select id="getQna" resultType="com.somsomy.domain.QnaBean">
		select * from qna where num=#{num}
	</select>
	
	<update id="updateQna">
		update qna set subject=#{subject}, content=#{content} where num=#{num}
	</update>
	
	<delete id="deleteQna">
		delete from qna where num=#{num} or re_ref=#{num}
	</delete>
	
	<update id="updateReseq">
		update qna set re_seq=re_seq+1 where re_ref=#{re_ref} and re_seq>#{re_seq}
	</update>
	
	<update id="updateState">
		update qna set state='답변완료' where num=#{num}
	</update>
</mapper>