@CHARSET "UTF-8";

#sub_img{width: 100%; height: 400px;
background-image: url("../images/subimg/flower.png");
background-repeat: no-repeat;
background-position: center top;
background-size: 100% 400px;
margin: 0 auto;}

#sub_img_find{width: 100%; height: 400px;
background-image: url("../images/catfind/findimg.jpg");
background-repeat: no-repeat;
background-position: center top;
background-size: 100% 400px;
margin: 0 auto;}

#sub_img_support{width: 100%; height: 400px;
background-image: url("../images/subimg//supportimg.png");
background-repeat: no-repeat;
background-position: center top;
background-size: 100% 400px;
margin: 0 auto;}

#sub_img_qna{width: 100%; height: 400px;
background-image: url("../images/subimg/qnaimg.png");
background-repeat: no-repeat;
background-position: center top;
background-size: 100% 400px;
margin: 0 auto;}

#sub_img_member{width: 100%; height: 400px;
background-image: url("../images/member/joinimg.png");
background-repeat: no-repeat;
background-position: center top;
background-size: 100% 400px;
margin: 0 auto;}

#sub_img_member1{width: 100%; height: 400px;
background-image: url("../images/member/loginimg.png");
background-repeat: no-repeat;
background-position: center top;
background-size: 100% 400px;
margin: 0 auto;}

#sub_img_center{width: 100%; height: 400px;
background-image: url("../images/subimg/adoptimg.png");
background-repeat: no-repeat;
background-position: center top;
background-size: 100% 400px;
margin: 0 auto;}

#sub_img_member2{width: 100%; height: 400px;
background-image: url("../images/subimg/mypage.png");
background-repeat: no-repeat;
background-position: center top;
background-size: 100% 400px;
margin: 0 auto;}

#infobox {
	width: 100%;
	margin: 70px auto auto 20px;
}
#centerinfo {
	width: 100%;
}

#divSub {
	position: relative;
	top: 0; left: 0;
}

#sub_menu{
position: absolute;
top: 210px;
width: 100%; margin: 0 auto;
font-family:Verdana,Geneva,sans-serif;font-size:17px; 
text-align: center;

}

#sub_menu ul{ list-style: none; 
width:100%;
display: flex; justify-content: center;
}

#sub_menu li {
	display: inline-block;
	padding: 20px;
	margin: 10px;
	border: 1px solid white;
	border-radius: 30px;
	font-weight: bold; color: white;
}
#sub_menu li:hover {
	color: black;
	background-color: white;
	cursor: pointer;
}

#text {
	width: 100%;
	color: white;
	text-align: center;
	font-size: 30px;
	font-weight: bold;
	position: absolute;
	top: 90px;
	margin: 0 auto;
}

#texthr {
	width: 27%;
	background-color: white;
	height: 1px;
	border: none;
	position: absolute;
	top: 106px;
	left: 36.5%
}

#text2 {
	width: 100%;
	display: flex;
	justify-content: center;
	color: white;
	font-size: 17px;
	position: absolute;
	top: 150px;
}

#divArticle {
	width: 70%;
	margin: 0 auto;
}
article{width: 100%;
margin: 0 auto;
font-family: Verdana,Geneva,sans-serif;
font-size: 1em;line-height: 1.5em}

article  h1 {
	margin-top: 50px;
	font-size: 30px;
	text-align: center;
}
hr {
	width: 50%;
	margin: 20px auto;
}
#adtInfo {
	width: 100%;
	margin-top: 40px;
	display: flex;
	justify-content: center;
}

article p{padding-left: 10px}
figure.ceo{float: right;margin: 5px;}
figcaption{text-align: center;color:white; }

.clear{clear: both;}
/*------------------*/

article table#notice{width: 100%;
border-collapse: collapse;
border-bottom: 2px solid;
margin: 40px auto;
}

@font-face{font-family: "seo";
src: url("../images/segoeui.eot");
src: local(""),
     url("../images/segoeui.woff")format("woff"),
     url("../images/segoeui.ttf")format("truetype");}
article table#notice th{height: 20px;
text-transform: capitalize;font-size: 16px;
font-family: seo; font-weight: bold;padding: 15px;
text-align: center; border-top: 2px solid black; border-bottom: 2px solid black;
background-color: white;
color: #5D5D5D;}

article table#notice td{text-align: center;
padding: 10px 0; border-bottom-width: 0.5px; font-size: 14px;
border-bottom-style: solid;border-bottom-color: #cfcfcf;}

article table#notice td.left{text-align: left;}

article th.tno{width: 60px;
border-top-left-radius:5px;
border-bottom-left-radius:5px;
}

article th.ttitle{width: 400px; letter-spacing: 0.7em}

article th.twrite{width: 90px;}

article th.tdate{width: 70px;}

article th.tread{width: 50px;
border-top-right-radius:5px;
border-bottom-right-radius:5px;}

#wbtn {
	background-color: white;
	float: right;
	margin: 5px 0 10px 3px;
	
}
.writeBtn {
	height: 40px;
	background-color: white;
	padding: 7px;
	border: 2px solid #C3C3C3;
	border-radius: 15px;
	cursor: pointer;
}

.writeBtn:hover {
	color: white;
	background-color: black;
}

#table_search{
	display: flex;
	justify-content: center;
	margin: 30px;
	}

#divSearch {
	position: relative;
	top: 0;
	left: 0;
	
}

#table_search .input_box{height: 30px; width: 200px;
border-radius:2px;background-color: white;
border: 1px solid #C3C3C3;
padding-right: 5px;
margin: 0 auto;
}

#searchImg {
	position: absolute;
	top: 8px;
	left: 180px;
	width: 15px;
	height: 15px;
	cursor: pointer;
}

#nImg {
	width: 100%;
	color:#a3a3a3;
	display: flex;
	justify-content: center;
	font-size: 14px;
}

#mag {
	width: 3%;
	margin: 30px auto;
}

button {
	border: none;
	background: none;
}

#page_control {
	display: flex;
	justify-content: center;
	margin: 20px;
}

#page_control a {
	color: #BDBDBD;
	font-size: 15px;
	text-decoration: none;	
	margin: 10px;
}

#page_control a:hover {
	color: black;
}

article table#notice tr:hover{
	background-color: #f5f5f5;
cursor: pointer;cursor: hand;}

/*------------------*/

#joinArticle{width: 50%;
margin: 0 auto;
font-family: Verdana,Geneva,sans-serif;
font-size: 1em;line-height: 1.5em}

#join {margin:40px auto; width: 100%;}

#join fieldset{
	width: 55%;
	margin: 0 auto;
border: none;}

#join fieldset legend{
font-size: 18px; border-bottom: 1px solid #666;
width: 420px; padding: 5px 0;}

#join .dot {
	width: 5px;
	vertical-align: middle;
}

#box {
	width: 60%;
	margin: 20px auto;
}

form h3{
	margin: 2px;
}
form#join label{width: 140px; float: left;
margin: 5px auto;}

#join input{width: 100%; height: 28px;
	margin: 5px 0; border: 1px solid #94d5ed;
background-color: white; border-radius: 2px;}

#join .loginPage{width: 240px; height: 22px;
	margin: 5px 0; border: 1px solid #5CD1E5;
background-color: white; border-radius: 2px;}

#join input.id{width: 71%;
height: 28px;}
#join input.name{width: 71%;
height: 28px;} 

#message, #passCheck {
	margin: 5px;
}
#idCheck {
	padding: 3px;
	padding-bottom: 5px;
}
#join input.postCode {
	width: 85px;
	height: 28px;
}
#join #extraAddress {
	width: 195px;
	margin: 2px;
}
#join .emailId {
	width: 28%;
}
#join .email {
	width: 42%;
}
#join .phone {
	width: 30%;
}
#join input.iddup, #join input.nickdup, #join input.dup{width: 25%; height: 30px;
padding: 2px;
border-radius:8px; border: none; font-size: 15px; 
margin-left: 4px; font-weight: bold;color: #FFF;
background-color: skyblue;}

#join input.iddup:hover, #join input.nickdup:hover, #join input.dup:hover{
	cursor: pointer;
	background-color: #106de0;
}

#customSelect {
	width: 100px;
	height: 30px;
	border: 1px solid #c3c3c3;
	font-size: 15px;
	margin-left: 4px;
}


/* myPage */

#buttons {
	width: 100%;
	margin: 0 auto;
}

#join #buttons .submit{
width: 100%;
display: flex;
justify-content: center;
background-color: skyblue;
color: #fff;
border: none;
	height: 35px; 
	border-radius:10px; 
	font-size: 16px;
}

#join #buttons .submit:hover {
	cursor: pointer;
	background-color: #106de0;
}

#join #buttons .cancel{margin: 5px 0 0 5px;

 background: linear-gradient( to bottom,#B8B8B8, #8C8C8C);

color: #fff;
}




