@charset "UTF-8";


#comment {
	width: 100%;
	margin: 50px auto;
border-collapse: collapse;
border-top: 1px solid #c3c3c3;
border-bottom: 1px solid #c3c3c3;
cursor: pointer;

}

#ctr {
	height: 100px;
}

#itd {
	width: 100px;
	height: 70px;
}
img {
	margin: 5px;
}
.std {
	width: 400px;
	font-size: 16px;
	font-weight: bold;
	text-align: left !important;
}
#ctr {
	border-top: 1px solid #D5D5D5;
}

.sntd {
	color: #A6A6A6;
	font-size: 13px;
	padding-bottom: 20px;
}


