@charset "UTF-8";

#hinfo {
	font-size: 20px;
	margin: 70px auto;
	text-align: center;
}
.wrapper {
 display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 50px;
  grid-auto-rows: minmax(100px, 300px);	
}
.mycatsTable {
	margin: 70px auto;
}

.mycats {
	width: 100%;
	margin: 0 auto;
	cursor: pointer;
	border-radius: 10px;
	box-shadow: 0 0 20px #cfcfcf;
}

.mycats:hover {
	box-shadow: 0 0 20px #8ae1fb;
}


.mycatsImg {
	width: 100%;
	height: 300px;
	margin: 0 auto;
	border-radius: 10px;
}

.mycatsName {
	font-size: 16px;
	text-align: center;
	vertical-align: middle;
}

td {
	font-size: 15px;
	text-align: center;
	padding: 7px;
	background-color: #f4f4f4;
}

.tdtdtd {
	color: white;
	width: 120px;
	background-color: skyblue;
}

#supInfo {
	width: 30%;
}

#supInfo #supporter {
	padding: 10px;
	font-size: 20px;
	font-weight: bold;
	background: none;
}